In [19]:
import glob as glob
import pandas as pd

In [28]:
# Define the path to the directory containing the CSV files
path = 'C:/Users/piett/Documents/GitHub/Ds_assignment#1/EuropeAirBnB/Weekdays/*.csv'
path2 = 'C:/Users/piett/Documents/GitHub/Ds_assignment#1/EuropeAirBnB/Weekends/*.csv'


# Load all the CSV files into a single dataframe
result_weekdays = pd.concat([pd.read_csv(file) for file in glob.glob(path)], ignore_index=True)
result_weekends = pd.concat([pd.read_csv(file) for file in glob.glob(path2)], ignore_index=True)

full_dataset= pd.concat([result_weekends,result_weekdays])

In [29]:
print(full_dataset.shape)
full_dataset.head()

(51707, 21)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,european_city
0,0,319.640053,Private room,False,True,2,False,0,1,9,...,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam
1,1,347.995220,Private room,False,True,2,False,0,1,9,...,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam
2,2,482.975183,Private room,False,True,4,False,0,1,9,...,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam
3,3,485.552926,Private room,False,True,2,True,0,0,10,...,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam
4,4,2771.541724,Entire home/apt,False,False,4,True,0,0,10,...,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam